opencv-python
numpy
torch
torchvision
addict
future
lmdb
Pillow
pyyaml
requests
scikit-image
scipy
tb-nightly
tqdm
yapf
lpips
gdown # supports downloading the large file from Google Drive
# cmake
# dlib
# conda install -c conda-forge dlib